.test{
    text-align: center;
    --background: #6495ed;
    color: white;
    
}

.backgroundcolor{
    --background: #435d8c;
    --color: #435d8c;
    --border-color: white;
    
    
    
}

.textcolor{
    color: white;

}

.buttoncolor{

    color:white
}