.test{
    text-align: center;
    --background: #6495ed;
    color: white;
    
}

.backgroundcolor{
    --background: #435d8c;
    --color: white;
    --border-color: white;
    
}

.textcolor{

    color: white;
    --background: #6495ed;
    
}

.format{

    padding-top: 10%;
}

