<ion-header [translucent]="true">
  <ion-toolbar class = "test">
    <ion-title>
      About The App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class = "backgroundcolor"> 
  <ion-grid class = "backgroundcolor">
    <ion-row class = "backgroundcolor">
      <ion-col width-100 class = "backgroundcolor">
        <ion-list class = "backgroundcolor">
          <ion-item class = "textcolor">
            <b>App Name: </b>Basic App
            <br> 
            showing ionic framework
          </ion-item>
          <ion-item class = "textcolor">
            <b>Version:  </b>  1.0.0
          </ion-item>
          <ion-item class = "textcolor">
            <strong>Description:  </strong> 
             A basic app showing off 
             <br>my skills ive learned in ionic and angular
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
