.test{
    text-align: center;
    --background: #6495ed;
    color: white;
    
}

.center{
    margin-top: 18%;
    margin-left: 20%;
    margin-right: 20%;
    display: block !important;
  }

.backgroundcolor{
    --background: #435d8c;
    color: white;
    
}

  