<ion-header>
  <ion-toolbar class = "test">
    <ion-title>
      Recipe/Geolocator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class = "backgroundcolor">

  <ion-button [routerLink]= "['/status']" class = "test" (click)="single(1, 0)" class="center" small>Update Recipe</ion-button>
    <br>

  <ion-title class = "test" color = "blue">The recipe chosen
      <br> is : {{myStatus}} 
  </ion-title>

  <ion-button (click)= "locationMethod()"  (click)="single(1, 0)" class="center2" small>Your location is : 
    <br>
  </ion-button>

  <h2 class = "locationNum">{{lat}}, {{long}}</h2>

  
</ion-content>
