.test{
    text-align: center;
    --background: #435d8c;
    color: white;
    
}

.card{

    text-align: center;
    --background: #6495ed;
    color: white;

}

.movietext{

    text-align: center;
    --background: #435d8c;
    color: white;

}

.textcolor{

    color: white;
}